* {
    font-family: 'Poppins';
    font-size: 16px;
    line-height: normal;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

@font-face {
    font-family: "Poppins";
    src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
}

body {
    background: url("../assets/Group\ 233.png");
}

.signup {
    display: flex;
    justify-content: center;
}

.no-gutter>[class*='col-'] {
    padding-left: 0;
    padding-right: 0;
}

.image {
    position: relative;
    justify-content: center;
    padding-top: 50px;
    left: 40px;
    padding-left: 20px;
}

.firstimg {
    width: 100%;
}

.title1 {
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #FFFFFF;
    bottom: 210px;
    left: 100px;
}

.title2 {
    position: absolute;
    font-size: 30px;
    letter-spacing: 0px;
    color: #FFFFFF;
    bottom: 180px;
    left: 130px;
}

.title3 {
    position: absolute;
    bottom: 50px;
    left: 170px;
}

.image2 {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    position: relative;
    margin-top: 0px;
    height: 500px;
    padding-right: 40px;
}

.userregistration {
    position: relative;
    justify-content: center;
    padding-top: 40px;
    left: 20px;
}

.title4 {
    position: relative;
    left: 40px;
    font-size: 25px;
    letter-spacing: 0px;
    color: #28233C;
    font-weight: bold;
}

.title5 {
    position: relative;
    left: 40px;
    font-size: 20px;
    letter-spacing: 0px;
    color: #ADA9BF;
}

.user {
    position: relative;
    left: 40px;
    font-size: 16px;
    letter-spacing: 0px;
    color: #353047;
    padding-top: 20px;
}

.regform input[type=text],
input[type=password],
input[type=email],
select {
    position: relative;
    left: 40px;
    width: 85%;
    padding: 2px 2px;
    margin: 1px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ADA9BF;
}

.createaccount {
    background: transparent linear-gradient(256deg, #501769 0%, #382780 100%);
    color: white;
    font-size: 1rem;
    border-radius: 0.125rem;
    height: 2.5rem;
    width: 12rem;
    padding: 0.5rem 0.625rem;
    margin-top: 20px;
    position: relative;
    left: 40px;
}

.remme {
    position: relative;
    left: 40px;
}

.acc {
    position: relative;
    left: 40px;
    padding-top: 20px;
    font-size: 1rem;
}

p a {
    font-weight: bold;
    color: #3F2985
}